<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/estilo.css">
    {%block title%}
    {% endblock %}
    
</head>
<body>
  <a href="{%url 'productos'%}">ir</a>
   <div class="container">
       <div class="row">
           <div class="col-2"></div>
            <div class="col-8">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
                    <img src="../static/img/img-proyecto/pc-logo.jpg" style="border-radius: 50%; padding: 1%; width:6%" >
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'base'%}">Inicio <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                             Hardware
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color: rgb(214, 210, 210);">
                              <li><a class="dropdown-item" href="{% url 'mb'%}">MB</a></li>
                              <li><a class="dropdown-item" href="{%url 'cpu'%}">CPU</a></li>
                              <li><a class="dropdown-item" href="{%url 'gpu'%}">GPU</a></li>
                              <li><a class="dropdown-item" href="{%url 'psu'%}">PSU</a></li>
                              <li><a class="dropdown-item" href="{%url 'ram'%}">RAM</a></li>
                              <li><a class="dropdown-item" href="{%url 'hdd'%}">HDD</a></li>
                              <li><a class="dropdown-item" href="{%url 'sdd'%}">SDD</a></li>
                              <li><a class="dropdown-item" href="{%url 'm2'%}">M2</a></li>
                            </ul>
                            <li class="nav-item active" style="padding-left: 259%;">
                              <a class="nav-link" href="{% url 'signin'%}" style="color: green">Signin <span class="sr-only"></span></a>
                            </li>
                            
                            
                      </ul>                     
                  
                    </div>
                  </nav>
        {% block contenido%}
        {% endblock %}

                     <!--carrusel-->
                    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-indicators">
                        <button type="button" data-bs-target="carousel" data-bs-slide-to="0" class="active" aria-current="true" arial-label="Slide 1"></button>
                        <button type="button" data-bs-target="carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="{% static 'img/img-proyecto/C01.png' %}" class= "d-block w-100" style="border-radius:0%">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'img/img-proyecto/C02.png' %}" class="d-block w-100" style="border-radius:0%">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'img/img-proyecto/C03.png'%}" class="d-block w-100" style="border-radius:0%">
                        </div>
                        <div class="carousel-item">
                          <img src="{% static 'img/img-proyecto/C04.png'%}" class="d-block w-100" style="border-radius:0%">
                        </div>
                      </div>
                      <button class="carousel-control-prev" data-bs-target="carousel" type="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visual-hidden"></span>
                      </button>
                      <button class="carousel-control-next" data-bs-target="carousel" type="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visual-hidden"></span>
                      </button>
                    </div>

            </div>

         

  
            <div class="col-2" ></div> 
        </div>  
    </div>


  
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


{% block script%}
{% endblock %}
</body>
</html>