
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/estilo.css">
    
    <title>Signin</title>
</head>
<body>
   
        <div class="container">
            <div class="row">
                
                <div class="col-3">
                    <div style="margin-top:10%; margin-left:1%;">
                      
                        <!--<h1 style="color:white; font-family:unset;"> MASTERBIKES</h1>-->
                        
                    </div>
                </div>
                <div class="col-4" >
                    <div class="card" style="width: 65%; border-radius:10%; margin-top:50%">
                        
                        <div class="card-body">
                        <h6>¿Ingresar como cliente?</h6>
                        <a class="btn btn-primary stretched-link" style="margin-left: 25%;" id="btn-ingre_cli">Ingresar</a>
                        </div>
                    </div>
                    <br/>
                    <div class="card" style="width: 65%; border-radius:10%; margin-top: 10%;">
                        
                        <div class="card-body">
                        <h6>¿Ingresar como Supervisor?</h6>
                        <a class="btn btn-primary stretched-link" style="margin-left: 25%;" id="btn-ingre_sup">Ingresar</a>
                        </div>
                    </div>
                



                </div>
                <div class="col-5">  
                    
                        <div>
                                <form id = "formu_cli">
                                    <div class="shadow p-3 mb-5 bg-white rounded;" style="margin-top:52%; width: 100%; border-radius: 10%;">
                                        <button type="button" class="close" aria-label="Close" style="margin-right: 95%;" id="btn-cerrar-cli">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                          <br/>
                                        <h2 style="text-align:center;">Inicio de sesión</h2>
                                        <div class="form-group">
                                        <b><label for="email1">Correo</label></b>
                                        <input type="email" class="form-control" id="email" placeholder="Correo electronico" required> 
                                        
                                        </div>
                                        <div class="form-group">
                                        <b><label for="clave">Contraseña</label></b>
                                        <input type="password" class="form-control" id="clave" placeholder="Contraseña" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar sesión</button>
                                        <div style="margin-left: 27%; margin-top: 2%;">
                                            <a href="">¿Olvidaste tu contraseña?</a>
                                        </div>
                                        <br/>
                                        <a type="button" class="btn btn-success btn-lg btn-block"  data-toggle="modal" data-target="#ventana-modal"style="margin-bottom: 5%;">Crear cuenta</a>
                                    </div>
                                    <!--modal-->
                                    <div class="modal fade" id="ventana-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog" >
                                          <div class="modal-content" style="border-radius: 5%">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="staticBackdropLabel" style="margin-left: 20%;">Registrarte como Cliente</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <!--formulario de registro-->
                                              <form id="form-reg">
                                                <div class="form-row">
                                                  <div class="form-group col-md-6">
                                                    <label for="nombre-reg"></label>
                                                    <input type="text" class="form-control" id="nombre-reg" placeholder="Nombre" required>
                                                  </div>
                                                  <div class="form-group col-md-6">
                                                    <label for="apellido-reg"></label>
                                                    <input type="text" class="form-control" id="apellido-reg" placeholder="Apellido" required>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="email-reg"></label>
                                                  <input type="email" class="form-control" id="email-reg" placeholder="correo electrónico" required>
                                                </div>
                                                <div class="form-group">
                                                  <label for="contraseña-reg"></label>
                                                  <input type="password" class="form-control" id="clave-reg" placeholder="Contraseña" required>
                                                </div>
                                                <div class="form-row">
                                                  <div class="form-group col-md-4">
                                                    <label for="ciudad-reg"></label>
                                                    <input type="text" class="form-control" id="ciudad-reg" placeholder="Ciudad" required>
                                                  </div>
                                                  <div class="form-group col-md-4">
                                                    <label for="region-reg"></label>
                                                    <select id="region-reg" class="form-control" required>
                                                      <option selected>Elegir Region</option>
                                                      <option><li>Metropolitana</li></option>
                                                      <option><li>Valparaiso</li></option>
                                                      <option><li>O'Higgins</li></option>
                                                      <option><li>Concepción</li></option>

                                                     
                                                    </select>
                                                  </div>
                                                  <div class="form-group col-md-4">
                                                    <label for="cod-reg"></label>
                                                    <input type="text" class="form-control" id="cod-reg" placeholder="Codigo postal" required>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="edad-reg"></label>
                                                    <input type="date" class="form-control" id="edad-reg" placeholder="Ingresa tu edad" required>
                                                </div>
                                            
                                              </form>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                              <button type="submit" class="btn btn-primary">Validar</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </form>

                        </div>   
                        
                        <div>
                            
                                <form id = "formu_super">
                                    <div class="shadow p-3 mb-5 bg-white rounded;" style="margin-top:52%; width: 100%; border-radius: 10%;">
                                        <button type="button" class="close" aria-label="Close" style="margin-right: 95%;" id="btn-cerrar-sup">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                          <br/>
                                        <h2 style="text-align:center;">Inicio de sesión</h2>
                                        <div class="form-group">
                                        <b><label for="email1">Correo</label></b>
                                        <input type="email" class="form-control" id="email" placeholder="Correo electronico"required>
                                        
                                        </div>
                                        <div class="form-group">
                                        <b><label for="clave">Contraseña</label></b>
                                        <input type="password" class="form-control" id="clave" placeholder="Contraseña" required>
                                        </div>
                                        <div class="form-group">
                                            <b><label for="cod">Codigo Trabajador</label></b>
                                            <input type="text" class="form-control" id="cod" placeholder="12345" required>
                                            </div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar sesión</button>
                                        <div style="margin-left: 27%; margin-top: 2%;">
                                            <a href="">¿Olvidaste tu contraseña?</a>
                                        </div>
                                        <br/>
                                        <a type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#ventana-modal-2" style="margin-bottom: 5%;">Crear cuenta</a>
                                    </div>
                                     <!--modal-->
                                     <div class="modal fade" id="ventana-modal-2" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog" >
                                          <div class="modal-content" style="border-radius: 5%">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="staticBackdropLabel;" style="margin-left: 20%;">Registrarte como Supervisor</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                              <!--formulario de registro-->
                                              <form id="form-reg">
                                                <div class="form-row">
                                                  <div class="form-group col-md-6">
                                                    <label for="nombre-reg-2"></label>
                                                    <input type="text" class="form-control" id="nombre-reg-2" placeholder="Nombre" required>
                                                  </div>
                                                  <div class="form-group col-md-6">
                                                    <label for="apellido-reg-2"></label>
                                                    <input type="text" class="form-control" id="apellido-reg-2" placeholder="Apellido" required>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="email-reg-2"></label>
                                                  <input type="email" class="form-control" id="email-reg-2" placeholder="correo electrónico" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="codigo-reg"></label>
                                                    <input type="text" class="form-control" id="codigo-reg" placeholder="Codigo trabajador" required>
                                                  </div>
                                                <div class="form-group">
                                                  <label for="contraseña-reg-2"></label>
                                                  <input type="password" class="form-control" id="clave-reg-2" placeholder="Contraseña" required>
                                                </div>
                                                <div class="form-row">
                                                  <div class="form-group col-md-4">
                                                    <label for="ciudad-reg-2"></label>
                                                    <input type="text" class="form-control" id="ciudad-reg-2" placeholder="Ciudad" required>
                                                  </div>
                                                  <div class="form-group col-md-4">
                                                    <label for="region-reg-2"></label>
                                                    <select id="region-reg" class="form-control" required>
                                                      <option selected>Elegir Region</option>
                                                      <option><li>Metropolitana</li></option>
                                                      <option><li>Valparaiso</li></option>
                                                      <option><li>O'Higgins</li></option>
                                                      <option><li>Concepción</li></option>

                                                     
                                                    </select>
                                                  </div>
                                                  <div class="form-group col-md-4">
                                                    <label for="cod-reg-2"></label>
                                                    <input type="text" class="form-control" id="cod-reg-2" placeholder="Codigo postal" required>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="edad-reg-2"></label>
                                                    <input type="date" class="form-control" id="edad-reg-2" placeholder="Ingresa tu edad" required>
                                                </div>
                                            
                                              </form>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                              <button type="submit" class="btn btn-primary">Validar</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </form>

                        </div>       
                    </div>
                </div>
            </div>


    </div>






  
    

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<!--Jquery... -->
<script type="text/javascript">
  $(document).ready(function(){
      $("#formu_cli").hide();
      $("#formu_super").hide();

  //click a tarjetas
  $("#btn-ingre_cli").click(function(){
      event.preventDefault();
      $("#formu_cli").show();

  })

  $("#btn-ingre_sup").click(function(){
      event.preventDefault();
      $("#formu_super").show();

  })

  //click a icono cerrar
  $("#btn-cerrar-cli").click(function(){
      event.preventDefault();
      $("#formu_cli").hide();

  })
  $("#btn-cerrar-sup").click(function(){
      event.preventDefault();
      $("#formu_super").hide();
      
  })


  })
</script>
</body>
</html>